<div class="col m-2">
    <div class="row row-pad">
        <a routerLink="/" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Minha conta
        </a>
    </div>
    <div class="row row-pad">
        <a routerLink="credit-card" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Cartão de crédito
        </a>
    </div>
    <div class="row row-pad">
        <a routerLink="deposit" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Depositar
        </a>
    </div>
    <div class="row row-pad">
        <a routerLink="payment" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Pagar
        </a>
    </div>
    <div class="row row-pad">
        <a routerLink="transfer" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Transferir
        </a>
    </div>
    <div class="row row-pad">
        <a routerLink="account-plan" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Plano de Contas
        </a>
    </div>
    <div class="row row-pad">
        <a routerLink="profile" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Perfil
        </a>
    </div>
    <div class="row row-pad">
        <a (click)="logout()" routerLinkActive="active" class="btn btn-warning btn-action form-control actions-button">
            <img src="../../../../assets/img/icon-flower-white.svg" alt="" /> Sair
        </a>
    </div>
</div>