<div class="col m-2">
	<div class="row row-pad">
		<a
			routerLink="dashboard"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Extrato
		</a>
	</div>
	<div class="row row-pad">
		<a
			routerLink="dashboard/deposit"
			routerLinkActive="active"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Depositar
		</a>
	</div>
	<div class="row row-pad">
		<a
			routerLink="dashboard/payment"
			routerLinkActive="active"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Pagar
		</a>
	</div>
	<div class="row row-pad">
		<a
			routerLink="dashboard/transfer"
			routerLinkActive="active"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Transferir
		</a>
	</div>
	<div class="row row-pad">
		<a
			routerLink="dashboard/account-plan"
			routerLinkActive="active"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Plano de Contas
		</a>
	</div>
	<div class="row row-pad">
		<a
			routerLink="dashboard/profile"
			routerLinkActive="active"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Perfil
		</a>
	</div>
	<div class="row row-pad">
		<a
			(click)="logout()"
			routerLinkActive="active"
			class="btn btn-warning btn-action form-control actions-button"
		>
			<img src="../../../../assets/img/icon-flower-white.svg" alt="" />
			Sair
		</a>
	</div>
</div>
