<nav class="navbar navbar-expand navbar-dark bg-dark p-3">
  <a class="navbar-brand"> Meu Bankline </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Entrar</a>
    <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Criar Conta</a>
    <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Minha Conta</a>
    <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Meu Perfil</a>
    <button class="btn btn-outline-light" (click)="logout()">Sair</button>
  </div>
</nav>
<div class="row row-pad">
  <div class="col-md-2 text-center">
    <img class="logo-shadow" src="../../../../assets/img/icon-thunder.svg" alt="logo"/>
  </div>
  <div class="col-md-10">
    <h3 class="title-dashboard row-pad">
      Olá
      <span id="nome-usuario"><strong>{{usuario.nome}}</strong></span>, seja bem vindo!
    </h3>
  </div>
</div>