<nav class="navbar navbar-expand navbar-dark bg-dark p-3">
  <a class="navbar-brand"> Meu Bankline </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Entrar</a>
    <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Criar Conta</a>
    <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Minha Conta</a>
    <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Meu Perfil</a>
    <button class="btn btn-outline-light" (click)="userLogout()">Sair</button>
  </div>
</nav>
