<form id="pagamento-form" id="login-form" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col form-group m-3">
        <input 
            id="valorInput"
            type="text"
            [class.is-invalid]="validateInput('valor', form)"
            placeholder="Valor"
            [(ngModel)]="dados.valor"
            name="valor"
            required
            #valorInput
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            [dropSpecialCharacters]="true"
            prefix="R$ "
        />
    </div>
    <div class="col form-group m-3">
        <input id="descricaoInput" type="text" class="form-control" [class.is-invalid]="validateInput('descricao', form)" placeholder="Descrição" [(ngModel)]="dados.descricao" name="descricao" #descricaoInput />
    </div>
    <div class="col form-group m-3">
        <select name="tipoPagamento" [(ngModel)]="dados.contaId" id="tipoPagamentos" class="form-control">
			<option disabled selected value>
				Selecione o tipo de pagamento
			</option>
			<option value="0">Débito em Conta</option>
			<option value="1">Cartão de Crédito</option>
		</select>
    </div>
    <div class="col form-group m-3">
        <app-select-account-plan [(plano)]="dados.planoContaId" [tipo]="2"></app-select-account-plan>
    </div>
    <div class="col m-3 text-center">
        <button type="submit" class="btn btn-labeled btn-success m-2 p-2">
			Pagar
		</button>
    </div>
</form>