<main id="container" class="min-vh-100">
	<div class="text-center m-5">
		<h1 class="text-white logo-custom">
			Thunder<i class="fas fa-poo-storm"></i>Bank
		</h1>
	</div>
	<div class="container container-margin p-4">
		<div class="row justify-content-md-center">
			<div class="col-sm-12 col-md-8 col-lg-6">
        <div class="text-center">
          <fa-icon class="display-1 text-warning" [icon]="faExclamationTriangle"></fa-icon>
        </div>
				<div class="card-body">
					<h5 class="text-center text-warning m-3">
						<strong>404:</strong> Oops, algo deu errado!
					</h5>
					<div class="btn btn-warning btn-text mt-5">
							<div class="container">
								<a routerLink="/home">
									<div class="row align-items-center">
										<div class="col text-center fs-3">
											Voltar
										</div>
									</div>
								</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
