<footer class="footer bg-warning">
		<div class="row align-items-center">
			<div class="col-6">
				<p class="fs-5 mb-0 text-start">Thunder<fa-icon [icon]="faPooStorm"></fa-icon>Bank©  2021</p>
			</div>
			<div class="col-6">
				<p class="fs-3 mb-0 text-end">
					<fa-icon class="m-2" [icon]="faFacebookSquare"></fa-icon>
					<fa-icon class="m-2" [icon]="faInstagramSquare"></fa-icon>
					<fa-icon class="m-2" [icon]="faYoutubeSquare"></fa-icon>
					<fa-icon class="m-2" [icon]="faTwitterSquare"></fa-icon>
					<fa-icon class="m-2" [icon]="faLinkedin"></fa-icon>
				</p>
			</div>
		</div>
</footer>
