<div class="row row-pad justify-content-center">
	<div class="col">
		<div class="row-pad"></div>
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-6">Planos de Contas</div>
					<div class="col-6" style="text-align: right">
						<a
							routerLink="account-plan-form"
							class="btn btn-primary btn-action actions-button"
						>
							<fa-icon [icon]="faPlus"></fa-icon>
							Novo
						</a>
					</div>
				</div>
			</div>
			<div class="card-body">
        <table class="table table-stripped table-cadastro">
          <tr>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Ação</th>
          </tr>
          <tr *ngFor="let p of planosConta">
            <td>{{p.tipo === 1 ? "Despesa" : "Receita"}}</td>
            <td>{{p.descricao}}</td>
            <td>
              <div>
                <a
                  type="button"
                >
                  <fa-icon
                    class="btn btn-labeled btn-danger"
                    [icon]="faTrash"
                    (click)="p.id && deletarPlano(p.id)"
                  ></fa-icon>
              </a>
              </div>
            </td>
          </tr>
        </table>
			</div>
		</div>
	</div>
</div>
