<form
	id="login-form"
	class="card m-3 form-control text-dark"
	#form="ngForm"
	(submit)="onSubmit(form)"
>
	<h2 class="mt-3 text-center">Crie sua conta</h2>
	<div class="m-5">
		<!-- CPF -->
		<div class="form-group mt-3">
			<input
				type="text"
				autocomplete="username"
				class="form-control"
				[class.is-invalid]="validateInput('cpf', form)"
				placeholder="CPF"
				[(ngModel)]="dados.cpf"
				name="cpf"
				required
				#cpfInput
        		mask="CPF_CNPJ"
				maxLength=14
			/>
			<div *ngIf="validateInput('cpf', form)" class="invalid-feedback">
				CPF Inválido
			</div>
		</div>
		<!-- TEL -->
		<div class="form-group mt-3">
			<input
				type="text"
				autocomplete="username"
				class="form-control"
				[class.is-invalid]="validateInput('tel', form)"
				placeholder="Telefone (com DDD)"
				[(ngModel)]="dados.tel"
				name="tel"
				required
				#telInput
        		mask="(00) 00000-0000"
			/>
			<div *ngIf="validateInput('tel', form)" class="invalid-feedback">
				Telefone Inválido
			</div>
		</div>
		<!-- NOME -->
		<div class="form-group mt-3">
			<input
				type="text"
				autocomplete="nome"
				class="form-control"
				[class.is-invalid]="validateInput('nome', form)"
				placeholder="Nome"
				[(ngModel)]="dados.nome"
				name="nome"
				required
				#nomeInput
			/>
			<div *ngIf="validateInput('nome', form)" class="invalid-feedback">
				Nome Inválido
			</div>
		</div>
		<!-- LOGIN -->
		<div class="form-group mt-3">
			<input
				type="text"
				autocomplete="username"
				class="form-control"
				[class.is-invalid]="validateInput('login', form)"
				placeholder="Login"
				[(ngModel)]="dados.login"
				name="login"
				required
				#loginInput
			/>
			<div
				*ngIf="validateInput('login', form)"
				class="invalid-feedback"
			>
				Usuário inválido
			</div>
		</div>
		<!-- SENHA -->
		<div class="form-group mt-3">
			<input
				type="password"
				autocomplete="current-password"
				class="form-control"
				[class.is-invalid]="validateInput('senha', form)"
				placeholder="Senha"
				[(ngModel)]="dados.senha"
				name="senha"
				required
				#senhaInput
			/>
			<div *ngIf="validateInput('senha', form)" class="invalid-feedback">
				Senha inválida
			</div>
		</div>
		<!-- AGREE CHECKBOX -->
		<div class="mt-4 mb-3 text-justify">
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="aceite"
          [checked]="aceite"
          (change)="aceite = !aceite"
					required
				/>
				<label class="form-check-label" for="aceite">
					Eu li, estou ciente das condições de tratamento dos meus
					dados pessoais e dou meu consentimento, quando aplicável,
					conforme descrito nesta
					<a href="http://www.google.com.br"
						>Política de Privacidade</a
					>
				</label>
			</div>
		</div>
		<div *ngIf="!isLoading">
			<button type="submit" class="btn btn-primary mt-3" [disabled]="!aceite">
				Cadastrar
			</button>
		</div>
		<div *ngIf="isLoading" class="mt-3">
			<app-spinning-loader></app-spinning-loader>
		</div>
		<div class="mt-4">
			<a routerLink="/login">Já tem uma conta? Entre por aqui</a>
			<br />
			<a routerLink="/recover">Perdeu sua senha? Recupere agora mesmo</a>
		</div>
	</div>
</form>
