<form id="register-form" class="card m-3 form-control text-dark">
	<h2 class="m-4 text-center">
		Preencha os dados e requisite sua conta e cartão de crédito
	</h2>
	<div class="m-5">
		<div class="mb-2 input-group-sm">
			<label for="cpfInput" class="form-label">cpf</label>
			<input
				name="cpf"
				type="text"
				class="form-control"
				id="cpfInput"
				pattern="[0-9]{11}"
				required
			/>
		</div>
		<div class="mb-2 input-group-sm">
			<label for="nomeInput" class="form-label">nome</label>
			<input
				name="name"
				type="text"
				class="form-control"
				id="nomeInput"
				maxlength="50"
				pattern="[^0-9]*"
				required
			/>
		</div>
		<div class="mb-2 input-group-sm">
			<label for="telInput" class="form-label">telefone</label>
			<input
				name="tel"
				type="tel"
				class="form-control"
				id="telInput"
				pattern="[0-9]{11}"
				required
			/>
		</div>
		<div class="mb-2 input-group-sm">
			<label for="emailInput" class="form-label">e-mail</label>
			<input
				name="email"
				type="email"
				class="form-control"
				id="emailInput"
				required
			/>
		</div>
		<div class="mb-2 input-group-sm">
			<label for="passInput" class="form-label">senha</label>
			<input
				name="senha"
				type="password"
				class="form-control"
				id="passInput"
				minlength="6"
				maxlength="50"
				required
			/>
		</div>
		<div class="mb-2 input-group-sm">
			<label for="passConfirmInput" class="form-label"
				>confirmar senha</label
			>
			<input
				name="senhaConfirm"
				type="password"
				class="form-control"
				id="passConfirmInput"
				minlength="6"
				maxlength="50"
				required
			/>
		</div>
		<div class="mt-4 mb-3 text-justify">
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="agreeCheck"
					required
				/>
				<label class="form-check-label" for="agreeCheck">
					Eu li, estou ciente das condições de tratamento dos meus
					dados pessoais e dou meu consentimento, quando aplicável,
					conforme descrito nesta
					<a href="http://www.google.com.br"
						>Política de Privacidade</a
					>
				</label>
			</div>
		</div>
		<button
			type="submit"
			class="btn btn-warning btn-custom-width text-white"
		>
			Enviar
		</button>
		<div class="mt-4">
			<a routerLink="/login">Já tem uma conta? Entre por aqui</a>
			<br />
			<a routerLink="/recover">Perdeu sua senha? Recupere agora mesmo</a>
		</div>
	</div>
</form>
