<div class="row row-pad">
	<div class="col-sm-12 col-md-6 mt-2">
		<div class="card card-pad-top">
			<div class="card-header">
				<fa-icon [icon]="faCoins"></fa-icon> Conta - nº<span
					id="numero-conta"
				></span>
</div>
<div class="card-body" style="min-height: 150px">
    <h5 class="card-title">Saldo disponível</h5>
    <p class="card-text" style="font-size: 30px">
        <strong data-saldo-disponivel>{{dashBoard?.saldo}}</strong>
    </p>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 mt-2">
    <div class="card card-pad-top">
        <div class="card-header">
            <fa-icon [icon]="faCreditCard"></fa-icon> Conta Crédito
        </div>
        <div class="card-body" style="min-height: 150px">
            <h5 class="card-title">Fatura atual</h5>
            <p class="card-text" style="font-size: 30px">
                <strong data-fatura-atual></strong>
            </p>
            <p class="card-text">
                Limite disponível
                <strong data-limite-disponivel>{{dashBoard?.limite}}</strong
					>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row row-pad">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<fa-icon [icon]="faMoneyBill"></fa-icon> Últimos lançamentos
			</div>
			<div class="card-body">
				<ul *ngFor="let lancamento of lancamentos">
					<li class="list-group-item">
						<div>
							<h4>{{lancamento.valor}}</h4>
							<h6>{{lancamento.dataHora}}</h6>
							<h6>{{lancamento.descricao}}</h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
